/*** general styles ***/
body {
    height: 100%;
    background-color: transparent;
    background-color: rgba(44, 62, 80, 0.5);
    
}

/*** background image ***/
html {
    background-image: url(../images/background-640.jpg);
    background-position: center center;
    background-attachment: fixed;    
    background-repeat: no-repeat;
    background-size: cover;
}

@media (min-width: 768px) {
	html {
    background-image: url(../images/background-1920.jpg);
  }
}