/*** general styles ***/
body {
    height: 100%;
    background-color: transparent;
    background-color: rgba(44, 62, 80, 0.5);
    
}

/*** background image ***/
html {
    background-image: url(../images/background-640.jpg);
    background-position: center center;
    background-attachment: fixed;    
    background-repeat: no-repeat;
    background-size: cover;
}


/*** play button ***/
button.start-game {
    border-radius: 50%;
    padding: 3%;
}
button.start-game .glyphicon {
    font-size: 70px;
    left: 7%;
    top: -1px;
}

/*** title/"nav" bar ***/
.navbar-default .navbar-text {
    color: white;
}

/*** header ***/
header {
    padding-top: 5%;
    padding-bottom: 100vh;
    max-height: 100vh;
}

/*** questions ***/
section {    
    background-color: rgba(255, 255, 255, 0.7);
}

/*** done button ***/
#btnDone {
    margin-top: 2em;
}

/*** results ***/
section.results {
	background-color: #2C3E50;
	color: white;
}

@media (min-width: 768px) {
	section:first-of-type .container {
	    padding-top: 70px;
	}
}